*{
    margin: 0;
    text-decoration: none;
    padding: 0;
}

:root{
    --white: #fff;
    --black: #000;
}

body{
    /* background-color: var(--black); */
    background: linear-gradient(red, yellow);
    height: 100vh;
    color: var(--white);
}

